<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>

<body>

<th:block th:include="common/header :: header"></th:block>

<h3>Login with Username and Password</h3>
<form name='f' action='/login' method='POST'>
<table>
    <tr><td>User:</td><td><input type='text' name='username' value='' /></td></tr>
    <tr><td>Password:</td><td><input type='password' name='password'/></td></tr>
    <tr><td colspan='2'><input name="submit" type="submit" value="Login"/></td></tr>
</table>

</form>

<th:block th:include="common/footer :: footer"></th:block>
</body>

</html>
